<div class="container mt-5 text-center">
    <h1>Welcome to the Home Page!</h1>
    <p>klik link buat milih menu</p>
    <a href="/contact" class="btn btn-primary" style="background-color: #CFAB8D; border-color: #CFAB8D;">kontak</a>
    <a href="/todos-list" class="btn btn-primary" style="background-color: #CFAB8D; border-color: #CFAB8D;">Todos-list</a>
    <a href="/todo-view" class="btn btn-primary" style="background-color: #CFAB8D; border-color: #CFAB8D;">Todos-view</a>
</div>