<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Daftar Tugas Saya</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1>Daftar Tugas Saya</h1>
      <p>Ini adalah halaman daftar tugas saya.</p>

      <% if (todos && todos.length > 0) { %>
      <ul class="list-group">
        <% todos.forEach(function(todo) { %>
        <li class="list-group-item">
          ID: <%= todo.id %> Tugas: <%= todo.task %>
        </li>
        <% }); %>
      </ul>
      <% } else { %>
      <p>Tidak ada tugas yang tersedia.</p>
      <% } %>

      <a href="/" class="btn btn-primary mt-3">Go to Home</a>
    </div>
  </body>
</html>